@model StudentMVC.Models.Attendance;

<h2>Presensi Siswa</h2>

<p><strong>@Model.Student</strong></p>

<form asp-action="Create" method="post">
	<input type="hidden" asp-for="StudentId" />

	<div>
		<label>Tanggal</label>
		<input asp-for="Date" type="date" />
	</div>
	<div>
		<label>Waktu</label>
		<input asp-for="Time" type="time" />
	</div>
	<div>
		<label>Status</label>
		<select asp-for="Status" asp-items="Html.GetEnumSelectList<AttendanceStatus>()"></select>
	</div>
	<div>
		<label>Catatan</label>
		<textarea asp-for="Note"></textarea>
	</div>

	<button type="submit">Simpan</button>
</form>